@media (max-width: 1320px) {
  .categories__list {
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    width: 70%;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 14px;
  }

  .nav {
    gap: 1rem;
  }

  .nav__item {
    width: 50px;
  }

  .promo {
    text-align: center;
  }

  .categories__list {
    width: 100%;
  }

  .promo__img {
    display: none;
  }

  .promo__title,
  .promo__text {
    width: 100%;
  }

  .subscription .container {
    gap: 1rem;
  }
}

@media (max-width: 800px) {
  .promo {
    padding-top: 7rem;
  }
  .promo__contant {
    position: static;
    z-index: 0;
  }

  .header .container .logo {
    display: none;
  }

  .nav .btn {
    display: none;
  }

  .nav__toggle {
    display: block;
  }

  .nav__list {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(83, 81, 85, 0.856);
    padding: 3rem 6rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    height: 100%;
    box-shadow: 0 0 60px rgba(83, 81, 85, 0.911);
  }

  #nav__toggle:checked ~ .nav__list {
    display: flex;
  }

  .nav__link {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffff;
  }

  .container {
    width: 90%;
  }

  .possibilities {
    padding: 3rem 0;
  }

  .possibilities .container {
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .possibilities__card {
    gap: 0.5rem;
    width: 250px;
    height: 300px;
    padding: 0.8rem 1rem;
    border-radius: 8px;
  }

  .categories {
    padding: 3rem 0;
  }

  .categories__text {
    margin-bottom: 3rem;
  }

  .subscription .container {
    text-align: center;
  }

  .subscription__form form {
    flex-direction: column;
    align-items: center;
  }

  .subscription__img {
    display: none;
  }

  .about {
    padding-top: 5rem;
    padding-bottom: 6rem;
  }

  .about__contant {
    width: 100%;
    text-align: center;
  }

  .about__img {
    display: none;
  }

  .footer__title {
    margin-bottom: 1rem;
  }

  .footer__link {
    margin-top: 0.5rem;
  }
}

@media (max-width: 640px) {
  .container {
    width: 90%;
  }

  .logo__img {
    width: 50px;
    height: 45px;
  }

  .promo__title {
    font-size: 3rem;
  }

  .categories__card {
    padding: 2rem 2rem;
    gap: 1rem;
    width: 200px;
    max-height: 250px;
  }

  .footer_main .container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
  }

  .footer__description {
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
  }
}

@media (max-width: 425px) {
  html {
    font-size: 12px;
  }

  .promo__title,
  .categories__title,
  .about__title {
    font-size: 2.2rem;
  }
}
