* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

html {
  font-size: 18px;
}

body {
  font-family: "Work Sans", sans-serif;
  color: #2b292d;
}

.site {
  position: relative;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  padding: 45px 0 80px 0;
  position: absolute;
  z-index: 1;
  width: 100%;
}

.container {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__name {
  font-size: 1.1rem;
  font-weight: bold;
}

.logo__text {
  color: rgb(43 41 45 / 60%);
}
.btn {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  background-color: #3040c4;
  padding: 0.6rem 1.2rem;
  border: none;
  cursor: pointer;
  border-radius: 2px;
}

.btn-white {
  color: #3040c4;
  background-color: #ffffff;
}

.nav {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.nav__list {
  display: flex;
  gap: 3rem;
}

.nav__link {
  color: #2b292d;
  text-decoration: none;
}

.nav__link:hover {
  font-weight: bold;
}

.promo {
  background-color: #f9d9eb;
  height: 700px;
}

.promo .container {
  display: flex;
  justify-content: center;
}
.promo__contant {
  width: 70%;
}

.promo__title {
  font-size: 4.5rem;
  font-weight: bold;
}

.promo__text {
  font-size: 1.3rem;
}

.possibilities {
  padding-top: 5.5rem;
  padding-bottom: 5.5rem;
}

.possibilities .container {
  display: flex;
  justify-content: center;
  gap: 1.6rem;
}

.possibilities__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  width: 350px;
  height: 415px;
  padding: 1.38rem 2.2rem;
  border-radius: 8px;
}

.possibilities__card:hover {
  box-shadow: 0px 4px 4px #2b292d41;
  cursor: pointer;
}

.possibilities__img {
  max-width: 150px;
  max-height: 160px;
}

.possibilities__text {
  font-size: 1.3rem;
  text-align: center;
}

.categories {
  background-color: #00a2c61e;
  padding-top: 6rem;
  padding-bottom: 9.5rem;
}

.categories .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categories__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.4rem;
}

.categories__subtitle {
  font-size: 1.2rem;
  margin-bottom: 1.3rem;
  font-weight: bold;
}

.categories__title {
  font-size: 3.1rem;
  font-weight: bold;
  margin-bottom: 1.6rem;
}

.categories__text {
  font-size: 1.3rem;
  margin-bottom: 7.2rem;
}

.categories__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.1rem 3.3rem;
  gap: 1.2rem;
  width: 260px;
  max-height: 300px;
  border-radius: 8px;
  background-color: #ffffff;
}

.categories__card:hover {
  cursor: pointer;
  background-color: #3141c5;
  color: #ffffff;
}

.categories__name {
  font-size: 1.2rem;
  font-weight: bold;
}

.about {
  padding-top: 8.2rem;
  padding-bottom: 10.5rem;
}

.about__contant {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 50%;
}

.about .container {
  display: flex;
  justify-content: space-between;
}

.about__subtitle {
  color: #807f81;
  font-size: 1.2rem;
  font-weight: bold;
  /* margin-bottom: 1.3rem; */
}

.about__title {
  font-size: 3.1rem;
  font-weight: bold;
}

.about__text {
  font-size: 1.3rem;
}

.subscription {
  background-color: rgba(43, 41, 45, 0.062);
  padding-top: 5.8rem;
  padding-bottom: 3.8rem;
}

.subscription .container {
  display: flex;
  gap: 10rem;
  align-items: center;
  justify-content: center;
}

.subscription__title {
  font-size: 2.2rem;
  letter-spacing: -0.25px;
  margin-bottom: 1.1rem;
}

.subscription__text {
  font-size: 1.2rem;
  margin-bottom: 1.38rem;
}

.subscription__form form {
  display: flex;
  gap: 0.5rem;
}

.subscription__field {
  width: 300px;
  padding: 0px 15px;
  border: 1px solid #2b292d3a;
}

.subscribe__field::placeholder {
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
}

.footer__description {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.footer__title {
  font-size: 1.1rem;
  font-weight: bold;
}

.footer__text {
  color: rgb(43 41 45 / 60%);
  text-decoration: none;
}
